.search-bar {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 3.75rem;
  border-radius: 15px;
  background-color: var(--inner-background);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  max-width: 35.8125rem;
}
.search-bar .search-input {
  width: 100%;
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  border: none;
  caret-color: var(--header);
  font-family: var(--font);
  font-size: 1rem;
}
.search-bar .search-input::placeholder {
  transition: color 200ms ease;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
}
.search-bar .search-btn {
  width: 100%;
  height: 2.8rem;
  max-width: 5.25rem;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 200ms ease;
  cursor: pointer;
}
.search-bar .search-btn:hover {
  opacity: 0.7;
}
.search-bar .search-icon {
  width: 20px;
  height: 20px;
}

/* spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--text-secondary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
